<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyMast</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="stylesheet2.css">
    <link rel="stylesheet" href="stylesheet3.css">
    <link rel="stylesheet" href="stylesheet4.css">
<link type="text/css" rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <header>
        <h1>Welcome to SkyMast</h1>
    </header>
    <form id="crosspost-form" action="/cross_post" method="POST" onsubmit="return copyContent()" enctype="multipart/form-data">
    <div class="wrapper">
        <div class="input-box">
            <div class="tweet-area">
                <span class="placeholder">What's happening?</span>
                <div id="editable-text-area" name="editable-text-area" class="input editable" contenteditable="true"></div>
                <div class="input readonly" contenteditable="true"></div>
            </div>
            <img id="img-preview1" style="display:none;"/>
            <img id="img-preview2" style="display:none;"/>
            <img id="img-preview3" style="display:none;"/>
            <img id="img-preview4" style="display:none;"/>
            <div id="img-limit-message"style="display:none;">*only up to 4 images can be posted.</div>
        </div>
        <textarea id="post-text" name="post-text" style="display:none;"></textarea> 
        <!-- <img id="img-preview1" style="display:none;"/> -->
        <input accept="image/png, image/jpg, image/jpeg, image/gif" type="file" id="img" name="img" style="display: none;" multiple
            onchange="
            document.getElementById('img-preview1').src = window.URL.createObjectURL(this.files[0]);
            document.getElementById('img-preview1').style = 'width: 50px; height: 50px;';
            document.getElementById('img-preview2').src = window.URL.createObjectURL(this.files[1]);
            document.getElementById('img-preview2').style = 'width: 50px; height: 50px;';
            document.getElementById('img-preview3').src = window.URL.createObjectURL(this.files[2]);
            document.getElementById('img-preview3').style = 'width: 50px; height: 50px;';
            document.getElementById('img-preview4').src = window.URL.createObjectURL(this.files[3]);
            document.getElementById('img-preview4').style = 'width: 50px; height: 50px;';
            if (this.files.length > 4) {
                document.getElementById('img-limit-message').style = '';
            }
            "/>
        <div class="bottom">
            <label for="img">
                <ul class="icons">
                    <li><img src="{{url_for('static', filename='photo_icon.svg')}}" alt="Photo Icon" style="width: 20px; height: 20px; margin-top: 0px;"></li>
                </ul>
            </label>
            
            <div class="content">
                <span class="counter">300</span>
                <button type="submit" id="post-to" name="post-to" > Post </button> <!-- area where the post to mastodon, post to bluesky or post to both is located-->
            </div>                                      
        </div></form>
        <form id="accounts" action="/accounts" method="POST">
        <div class="container">
            <span class="container-text">Accounts</span>
            {% for account in account_list %}
            <div class="account-btn" onclick="toggleIconAcct({{ account.id }})">
                <span class="account-type-icon">

                    <!-- Icon depends on the account's website/type -->
                    {% if account.db_website == 'mastodon' %}
                        <img src="static/mastodon.svg" alt="Mastodon Icon" style="width: 20px; height: 30px; margin-top: 0px;">
                    {% else %}
                        <img src="static/bluesky.svg" alt="Bluesky Icon" style="width: 20px; height: 30px; margin-top: 0px;">
                    {% endif %}

                </span>
                <span class="account-name">
                    <i class="fa-brands fa-mastodon"></i>
                    {{ account.db_email }}
                </span>
                
             

                <span class="toggle-btn">
                    <img id="toggle{{ account.id }}" src="static/toggle-on.svg" alt="Toggle on Icon" style="width: 30px; height: 30px; margin-top: 0px;">
                </span>
                <button id="del_account{{ account.id }}" name="del_account{{ account.id }}" type="submit" style="display: flex; justify-content: center; align-items: center; background: url('static/delete.svg') no-repeat center center; background-size: contain; border: none; width: 21px; height: 21px; cursor: pointer; margin: 15px 10px;">
                </button>
            </div>
            <ul id="settings{{ account.id }}" class="acct-settings">
                {% if account.db_website == 'mastodon' %}
                    <li class="setting" onclick="toggleIconPub({{ account.id }})">
                        <span class="setting-text">Public</span>
                        <span class="setting-togglePub">
                            <img id="togglePub{{ account.id }}" src="static/toggle-on.svg" alt="Toggle off Icon" style="width: 30px; height: 30px; margin-top: 0px;">
                        </span>
                    </li>
                {% else %}
                    <li class="setting" onclick="toggleIconRep({{ account.id }})">
                        <span class="setting-text">Allow Replies</span>
                        <span class="setting-toggleRep">
                            <img id="toggleRep{{ account.id }}" src="static/toggle-on.svg" alt="Toggle off Icon" style="width: 30px; height: 30px; margin-top: 0px;">
                        </span>
                    </li>
                {% endif %}
            </ul>
            {% endfor %}
        </div></form>
    
    </div>
    <div class="bottom-button">
        <button id="plusbtn">&#43;</button>
    </div>

    
    <!-- Login Area -->
    <div id="loginForm" class="center">
        <h1>Login</h1>
        <form id="login-form" action = '/login' method="POST">
          <div class="txt_field">
            <input id="email" name="email" type="text" required>
            <span></span>
            <label>Email</label>
          </div>
          <div class="txt_field">
            <input id="password" name="password" type="password" required>
            <span></span>
            <label>Password</label>
          </div>
          <!-- log in to mastodon/bluesky Area -->
          <input type="submit" id="mastodon_login" name="mastodon_login"  value="Mastodon Login">
          <input type="submit" id="bluesky_login" name='bluesky_login'  value="Bluesky Login">
          <div class="signup_link">
          
          </div>
        </form>
      </div>
   
<script src="static/script.js"> </script>
<script type="text/javascript" src="js/script.js"></script>
</body>

</html>

